@charset"utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {list-style: none;}
a {text-decoration: none; color: #000;}

body{background-color: #000;}

#wrap{width: 100%; height: 100%;}

#header {
    width: 200px;
    height: 937px;
    float: left;
    background-color:#fff;    
}

.logo {
    width: 200px;
    height: 40px;
    padding-top: 30px;
    text-align: center;
}

.gnb {
    width: 200px;
    height: 700px;
    padding-top: 60px;
}

.gnb > ul > li {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    
}
.gnb > ul > li > a{
    font-size: 20px;
    display:block;
    font-weight: 700;
    color: #000;
    border-top: 1px solid #222;
}

.gnb > ul > li:last-child {
    border-bottom: 1px solid #222;
}


.gnb > ul > li:hover > a{
    background-color: #000;
    color:#fff;
}

.gnb > ul > li > #submenu{display: none;} 

.gnb > ul > li > .smn1 {
    width: 100%;
    height: 90px;
}

.gnb > ul > li > .smn2 {
    width: 100%;
    height: 180px;
}

.gnb > ul > li > #submenu > li{
    display: block;
    line-height: 30px;
}
.gnb > ul > li > #submenu > li:hover{
    background-color: #000;
}

.gnb > ul > li > #submenu > li > a {
    width: 100%;
    height: 30px;
    color: #333;
    display: block;
}
.gnb > ul > li > #submenu > li > a:hover {
    color: #fff;   
}

#article{width: 1720px; height: 937px; position: relative; margin-left: 200px;}
.imgw{position: absolute; right: 0px; bottom: 0px; width: 705px; height: 654px; z-index: 1000}
.imgw img{width: 705px; height: 654px; display: block;}



#main-txt{position: relative;}
#main-txt>p{
    position: absolute; left: 230px; 
    top: 160px; color: #fff; 
    text-align: left; font-size: 150px; 
    font-weight: 700; line-height: 180px;
    letter-spacing: 10px;
    font-family: "Noto Sans";
    transition: 0.3s;
}
#main-txt>p>span{font-size: 50px;}


